.table{
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.row{
  display: flex;
}

.col{
  border: 1px solid #000;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  padding: 20px;
}

.col1{
  width: 600px;
}
.col2{
  width:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.col3{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.videoPlayer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.videoPlayer .playerWrapper{
  width: 500px;
}