.table{
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.row{
  display: flex;
}

.col{
  border: 1px solid #000;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  padding: 20px;
}

.col1{
  width: 600px;
}
.col2{
  width:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.col3{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.videoPlayer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.videoPlayer .playerWrapper{
  width: 500px;
}

.uploadContainer{
  margin: auto;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  background-image: linear-gradient(to right top, #79b5f5, #72a8e2, #6b9bce, #648fbb, #5d82a9);
}

.audioPlayer{
  position: sticky;
  width: 100%;
  bottom: 0;
}